*{
    padding: 0;
    margin: 0;
}
    /* @charset "UTF-8";* {
    padding: 0;
    margin: 0;
    border: 0
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:active,:focus {
    outline: 0
}

a:active,a:focus {
    outline: 0
}

body,html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px
}

button,input,textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a,a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400
}

.nav {
    position: relative;
    padding: 27px 60px
}

.nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.menu__item:not(:last-child) {
    margin-right: 33px
}

.menu__item {
    position: relative;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.menu__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.menu__link:hover {
    color: #ff6464
}

.menu__link_active {
    color: #ff6464
}

.menu .submenu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.menu .submenu__item {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.menu .submenu__item:last-child {
    border-bottom: none
}

.menu .submenu__item:hover {
    background-color: #dacfcf
}

.menu .submenu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #000;
    padding: 15px 25px;
    display: block
}

.menu .submenu__link:hover {
    color: #ff6464
}

.menu .submenu__back {
    position: absolute;
    top: -50px;
    left: 30px;
    font-weight: 500;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    padding-left: 10px;
    border-bottom: none
}

.menu .submenu__back:before {
    content: "";
    display: block;
    position: absolute;
    top: 23px;
    left: 0;
    width: 5px;
    height: 5px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.overlay.open {
    opacity: 1;
    visibility: visible
}

.burger {
    margin: 20px 15px 0 0;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    display: none
}

.burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    display: inline-block;
    background-color: #000;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.burger span:after,.burger span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 2px;
    background-color: #000
}

.burger span:before {
    top: auto;
    bottom: -20px
}

.promo {
    padding: 130px 0 88px
}

.promo__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.promo__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243d
}

.promo__subtitle {
    margin-top: 40px;
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    color: #21243d;
    text-shadow: 0 4px 4px rgba(0,0,0,.25)
}

.promo__btn {
    margin-top: 38px;
    width: 210px;
    height: 45px;
    background: #ff6464;
    border-radius: 2px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.promo__btn:hover {
    -webkit-box-shadow: 3px 0 10px 2px rgba(0,0,0,.5);
    box-shadow: 3px 0 10px 2px rgba(0,0,0,.5)
}

.promo__avatar {
    margin-left: 115px
}

.posts {
    background-color: #edf7fa;
    padding: 20px 0 30px
}

.posts__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.posts__title {
    font-size: 22px;
    line-height: 30px;
    color: #21243d
}

.posts__view {
    font-size: 16px;
    line-height: 23px;
    color: #00a8cc;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.posts__view:hover {
    color: #21243d
}

.posts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.posts__item {
    margin-top: 20px
}

.posts__item:not(:last-child) {
    margin-right: 10px
}

.item-post {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
    padding: 20px;
    background-color: #fff
}

.item-post__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243d
}

.item-post__list {
    font-size: 18px;
    line-height: 26px;
    color: #21243d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px
}

.item-post__list li {
    padding-right: 25px;
    border-right: 1px solid #000
}

.item-post__list li:last-child {
    padding-left: 25px;
    padding-right: 0;
    border: 0
}

.item-post__text {
    font-size: 16px;
    line-height: 23px;
    color: #21243d;
    margin-top: 15px
}

.featured {
    padding-top: 40px;
    padding-bottom: 20px
}

.featured__title {
    font-size: 22px;
    line-height: 28px;
    color: #21243d;
    margin-bottom: 20px
}

.featured__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0
}

.featured__img {
    margin-right: 18px
}

.descr-featured__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #21243d
}

.descr-featured__date {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.descr-featured__time {
    background: #142850;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    padding: 5px 15px;
    margin-right: 35px
}

.descr-featured__prog {
    font-size: 20px;
    line-height: 27px;
    color: #8695a4
}

.descr-featured__text {
    font-size: 16px;
    line-height: 23px;
    color: #21243d;
    margin-top: 15px
}

.footer {
    padding: 130px 0 50px;
    text-align: center
}

.footer__copy {
    margin-top: 25px;
    font-size: 14px;
    line-height: 21px;
    color: #21243d
}

.social-list__link {
    margin-right: 35px
}

.social-list__link:last-child {
    margin-right: 0
}

.blog__wrap {
    padding: 40px 90px
}

.blog__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243d
}

.blog__list {
    margin-top: 55px
}

.blog__item {
    padding-bottom: 29px;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 32px
}

.item-block__tltle {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243d
}

.item-block__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px
}

.item-block__time {
    font-size: 20px;
    line-height: 29px;
    color: #21243d;
    padding-right: 25px;
    border-right: 1px solid #000
}

.item-block__prog {
    font-size: 20px;
    line-height: 29px;
    color: #8695a4;
    padding-left: 25px
}

.item-block__text {
    font-size: 16px;
    line-height: 23px;
    color: #21243d;
    margin-top: 15px
}

.work {
    padding-top: 40px;
    padding-bottom: 20px
}

.work__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 52px;
    color: #21243d
}

.work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    padding-bottom: 45px;
    border-bottom: 1px solid #e0e0e0
}

.work__img {
    margin-right: 18px
}

.descr-work__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #21243d
}

.descr-work__date {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.descr-work__time {
    background: #142850;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    padding: 5px 15px;
    margin-right: 35px
}

.descr-work__prog {
    font-size: 20px;
    line-height: 27px;
    color: #8695a4
}

.descr-work__text {
    font-size: 16px;
    line-height: 23px;
    color: #21243d;
    margin-top: 15px
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto
}

.container1 {
    max-width: 860px;
    margin: 0 auto
}

body {
    font-family: Heebo,sans-serif
}

@media (min-width: 769px) {
    .menu .submenu__back {
        display:none
    }

    .menu__item {
        position: relative
    }

    .menu__item::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: #ff6464;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s
    }

    .menu__item:hover::after {
        width: 100%
    }

    .menu__item:nth-child(2)::after {
        width: 0%
    }

    .menu__link-dropdown {
        position: relative
    }

    .menu__link-dropdown:after {
        content: "";
        position: absolute;
        top: 14px;
        -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
        right: -15px;
        width: 8px;
        height: 8px;
        border: 1px solid #000;
        border-top: none;
        border-left: none;
        -webkit-transition: all .4s ease 0s;
        -o-transition: all .4s ease 0s;
        transition: all .4s ease 0s
    }

    .menu__item:hover .submenu {
        opacity: 1;
        visibility: visible
    }

    .menu__item:hover .menu__link-dropdown::after {
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
        border: 1px solid #ff6464;
        border-top: none;
        border-left: none;
        color: #ff6464
    }

    .menu__item:hover .menu__link-dropdown {
        color: #ff6464
    }
}

@media (max-width: 1600px) {
    .container {
        max-width:1540px
    }
}

@media (max-width: 1400px) {
    .container {
        max-width:1340px
    }
}

@media (max-width: 1200px) {
    .container {
        max-width:1140px
    }
}

@media (max-width: 992px) {
    .container1 {
        max-width:960px
    }

    .promo {
        padding: 100px 20px 58px
    }

    .promo__avatar {
        margin-left: 50px
    }

    .promo__title {
        font-size: 32px;
        line-height: 45px
    }

    .promo__subtitle {
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #21243d;
        text-shadow: none
    }

    .posts {
        padding-left: 20px;
        padding-right: 20px
    }

    .featured .container1 {
        padding-left: 20px;
        padding-right: 20px
    }

    .work .container1 {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width: 768px) {
    .container1 {
        max-width:748px
    }

    .burger {
        display: block
    }

    .nav {
        z-index: 100;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        left: 0;
        top: 0;
        max-width: 400px;
        width: 80%;
        background-color: #fff;
        -webkit-box-shadow: 5px 0 15px -5px rgba(0,0,0,.8);
        box-shadow: 5px 0 15px -5px rgba(0,0,0,.8);
        height: 100vh;
        -webkit-transform: translateX(-150vw);
        -ms-transform: translateX(-150vw);
        transform: translateX(-150vw);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        padding: 0
    }

    .nav.open {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }

    .nav__menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 10%
    }

    .nav__menu.transformation {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    .nav__menu>li {
        width: 100%;
        font-size: 24px
    }

    .nav__menu>li a {
        padding: 20px 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #c8bebe
    }

    .nav__back {
        display: block
    }

    .menu {
        padding-top: 60px
    }

    .menu__item {
        padding-bottom: 0
    }

    .menu__link-dropdown {
        position: relative
    }

    .menu__link-dropdown:after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .menu__item:hover {
        background-color: #dacfcf
    }

    .menu .submenu.transformation {
        opacity: 1;
        visibility: visible;
        display: block;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        right: auto;
        left: 100%;
        width: 100%;
        padding: 0;
        top: -100%
    }

    .posts__items {
        display: block
    }

    .posts .item-post {
        margin-right: 0
    }

    .blog__wrap {
        padding: 40px 40px
    }
}

@media (max-width: 600px) {
    .promo__row {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .promo__column:last-child {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        margin-bottom: 40px;
        text-align: center
    }

    .promo__avatar {
        margin-left: 0
    }

    .promo__column:first-child {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        text-align: center
    }
}

@media (max-width: 576px) {
    .container1 {
        width:100%;
        padding: 0 5px
    }

    .promo__avatar img {
        max-width: 60%
    }

    .posts {
        padding-left: 10px;
        padding-right: 10px
    }

    .posts__top {
        display: block;
        text-align: center
    }

    .posts__view {
        display: none
    }

    .posts .item-post__title {
        font-size: 22px;
        line-height: 30px
    }

    .posts .item-post__list {
        font-size: 16px;
        line-height: 23px
    }

    .featured__title {
        text-align: center;
        font-size: 18px
    }

    .featured__item {
        display: block
    }

    .featured__img {
        margin-right: 0;
        margin-bottom: 10px
    }

    .featured__img img {
        width: 100%
    }

    .featured .descr-featured__title {
        font-size: 24px
    }

    .featured .descr-featured__time {
        font-size: 16px
    }

    .featured .descr-featured__prog {
        font-size: 16px
    }

    .blog__wrap {
        padding: 10px 10px
    }

    .blog__title {
        font-size: 30px;
        line-height: 38px
    }

    .blog .item-block__tltle {
        font-size: 24px;
        line-height: 32px
    }

    .blog .item-block__time {
        font-size: 16px;
        line-height: 20px;
        padding-right: 15px
    }

    .blog .item-block__prog {
        font-size: 16px;
        line-height: 20px;
        padding-left: 15px
    }

    .blog .item-block__text {
        margin-top: 15px
    }

    .work__title {
        text-align: center;
        font-size: 40px
    }

    .work__item {
        display: block
    
    } */